<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline</div>
  <div>Flight Number</div>
  <div>Departure Date</div>
  <div>Departing Airport</div>
  <div>Departing Airport</div>
  <% } %> <%- include('../partials/footer') %>
</section>
