body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(https://fsmedia.imgix.net/7f/b1/f1/dc/9fee/41a3/b761/c3599480bf69/screenshot-2017-03-06-180424png.png?rect=0%2C0%2C2054%2C1027&auto=format%2Ccompress&dpr=2&w=650);
  color: #ba6708;
}

a {
  color: #00b7ff;
}
